/* --------------------------- */
/* ARTICLE STYLING START */
.article-header {
    width: 100%;
    height: 70px;
    padding-top: 50px;
    padding-bottom: 70px;
    display: flex;
}

.profile-img {
    padding-top: 10px;
    padding-right: 10px;
}

.profile-img img {
    border-radius: 70%;
}

.profile-txt p {
    margin-top: 15px;
    margin-bottom: auto;
}

.bottom {
    display: flex;
    color: #626262;
}

.bottom p {
    margin: auto;
    padding-top: 8px;
    font-size: 14px;
}

.icon {
    display: flex;
    align-items: center;
    color: #1A9B34;
}

.icon i {
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 10px;
}

.fa-solid fa-circle-play {
    color: #1A9B34;
}

.article-content {
    padding-right: 90px;
    padding-left: 90px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.article-title {
    padding-right: 90px;
    padding-left: 10px;
}

.article-header-img {
    padding-right: 50px;
}

.article-content-middle {
    padding-right: 140px;
    padding-left: 10px;
    text-align: justify;
}

.article-header-img {
    display: flex;
    justify-content: center;
}

.video-1 {
    display: flex;
    justify-content: center;
}

.video-2 {
    display: flex;
    justify-content: center;
}

.video-3 {
    display: flex;
    justify-content: center;
}

.video-4 {
    display: flex;
    justify-content: center;
}

.video-5 {
    display: flex;
    justify-content: center;
}

.icons {
    width: 100%;
    padding-right: 140px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

.icons-bottom-left {
    cursor: pointer;
}

.icons-bottom-right {
    cursor: pointer;
}

.article-content-bottom {
    padding-top: 50px;
    padding-right: 140px;
    text-align: justify;
}

.article-content-bottom svg {
    cursor: pointer;
}

.txt1 p {
    width: 80%;
    padding-right: 80px;
}

.txt-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon-right {
    display: flex;
    margin: 5px;
    cursor: pointer;
}

.message{
    border: none;
    border-radius: 99em;
    background: rgb(26, 137, 23);
    stroke:rgb(255, 255, 255);
    width: 36px;
    height: 36px;
    padding: 0;
    margin: auto;
    cursor: pointer;
}

.button1 {
    border-radius: 99em;
    background-color: rgb(26, 137, 23);
    border: none;
    color: white;
    padding: 7px 16px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: auto;
    cursor: pointer;
}

.txt2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.txt2-left {
    padding-right: 100px;
}

.txt2-left h2 {
    cursor: pointer;
}

.txt3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.txt3-left {
    padding-right: 100px;
}

.txt3-left h2 {
    cursor: pointer;
}

.txt4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.txt4-left {
    padding-right: 100px;
}

.txt4-left h2 {
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
}

.credits {
    display: flex;
    justify-content: center;
    color: #626262;
}

.list-art2 ul {
    font-style: italic;
}

.list2-art2 ul {
    font-style: italic;
}

.list3-art2 ul {
    font-style: italic;
}

.head-art2 {
    color: #626262;
    display: flex;
    justify-content: center;
}


/* ARTICLE STYLING END */
/* --------------------------- */