*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
}

:root{
    --left-sidebar-width: 86px;
    --right-sidebar-width: 26vw;
    --content-width: calc(100vw - var(--left-sidebar-width) - var(--right-sidebar-width));
    --top-sidebar-height: 100px;
    --bottom-sidebar-height: 100px;
    --middle-sidebar-height: calc( 100vh - var(--top-sidebar-height) - var(--bottom-sidebar-height) );
    --sidebar-item-height: 6px;

}

.container{
    display: flex;
}

.left-sidebar{
    display: block;
    position: sticky;
    flex-direction: column;
    border-right: 1px solid rgba(230, 230, 230, 1);
    max-height: 100vh;    
    width: var(--left-sidebar-width);
    top: 0;
    left: 0;
    flex-shrink: 0;
    overflow: hidden;
}

.content{
    display: block;
    width: var(--content-width);
    padding: 1rem;
}

.sidebar-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
}

.sidebar-item{
    position: relative;
    width: 100%;
    text-decoration: none;
}

.top-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--top-sidebar-height);
}

.top-sidebar .home-btn {
    display: block;
    height: 23px;
    width: 40.5px;
    padding: 40px 0;
    fill: rgba(41, 41, 41, 1);
}

.middle-sidebar{
    height: var(--middle-sidebar-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.sidebar-link{
    display: flex;
    padding: 18px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    stroke: rgba(117, 117, 117, 1);
    fill: none;
    transition: 300ms;
}

.sidebar-link:hover{
    stroke: black;
}

.bottom-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2rem;
    height: var(--bottom-sidebar-height);
}

.bottom-sidebar .sidebar-profile-img{
    text-decoration: none;
    color: transparent;
}
.bottom-sidebar .sidebar-profile-img > img{
    border-radius: 50%;
}

.right-sidebar{
    display: flex;
    position: sticky;
    flex-direction: column;
    padding: 0 1rem;
    border-left: 1px solid rgba(230, 230, 230, 1);
    width: var(--right-sidebar-width);
    max-height: 100vh;
    top: 0;
    right: 0;
    flex-shrink: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.top-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.upgrade-btn{
    border: none;
    width: 90%;
    align-self: center;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 12px 16px 9px;
}

.search-bar{
    display: flex;
    align-self: center;
    color: rgba(0,0,0,0.8);
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 20px;
    width: 90%;
}

.search-bar span{
    padding: 7px 7px 6px 8px;
}

.search-bar input{
    border: none;
    background-color: transparent;
    padding: 8px 0 11px;
    outline: none;
}

.middle-content{
    padding-left: 1.5rem;
}



.footer .footer-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 1.5rem;
}

.footer-link{
    padding: 0;
    padding-right: .5rem;
}

.footer-link a{
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}

.content {
    margin-left: 50px;
    margin-right: 35px;
}



.index_post_box{ display: flex;}

.index_post_img_date {display: flex;}

.bottom-img {
    padding-right: 10px;
}

.username_index_post {padding-right: 10px;}


ul {
    margin: 0;
padding: 0;
list-style-type: none;
}

li {
    display: inline-block;
margin-right: 20px;}

.tag2 {
    padding: 10px;
    width: 20px;
    padding: 0 1.5rem;
}

.tag1 {
    padding: 10px;
    width: 20px;
    padding: 0 1.5rem;
}
.post_index_description
{padding-right: 30px;}

.post_index_buttons {
    display: flex;

}

.bottom_index_box
{display: flex;}

.profile__post__content__image2 {
    padding-left: 30px;
    padding-top: 30px;
}

.index_line {
    width: 100%;
    height: 1px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: rgb(192, 192, 192);
}

.index_line2{
    width: 100%;
    height: 1px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 40px;
    background-color: rgb(192, 192, 192);
}

.tag {
    border-radius: 100px;
    padding: 5px 10px 5px 10px;
    white-space: nowrap;
    background-color: rgba(230, 230, 230, 1);
}

.plusicon {
    padding: 1px 1px 1px 1px;
    width: 20px;
    background-color: rgb(197, 197, 197);
    border-radius: 100px;
    white-space: nowrap;
    margin-left: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.top_index {
    display: flex;
}

.keepup {
    padding: 1px 1px 1px 10px;
    margin-left: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.top_index_options {
    display: flex;
}

.index_options {
    padding-right: 35px;
}
/* Profile Page CSS */

.profile__header{
    display: flex;
}

.profile__header--left{
    display: block;
    flex-direction: column;
    padding: 1rem;    
    top: 0;
    left: 0;
    flex-shrink: 0;
    overflow: hidden;
}

.profile__header--left span {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: rgba(25, 25, 25, 1);
    word-break: break-word;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: 0;    
}

.profile__header--right{
    display: block;
    flex-direction: column;
    padding: 1rem; 
    top: 0;
    right: 0;
    flex-shrink: 0;
    overflow: hidden;
}

.profile__menu ul {
    display: flex;
    justify-content: space-around; 
    font-size: 24px; 
    list-style: none;
}

.profile__menu a {
    cursor: pointer;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

.profile__post__date span {
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.profile__post__content__description__title h2 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    overflow: hidden;
    color: rgba(41, 41, 41, 1);
    letter-spacing: 0;
    font-size: 22px;
    line-height: 28px;
    max-height: 84px;
}

.profile__post__content__description__text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    color: rgba(41, 41, 41, 1);
    text-overflow: ellipsis;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    max-height: 72px;
    letter-spacing: 0;
}

.profile__post__content__description__buttons__tag {
    cursor: pointer;
    fill: rgba(25, 25, 25, 1);
    box-sizing: inherit;
    font-weight: 400;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    line-height: 20px;
    color: rgba(41, 41, 41, 1);
    padding: 2px 8px;
    border-radius: 100px;
    transition: background 300ms ease;
    font-size: 13px;
    white-space: nowrap;
    background-color: rgba(230, 230, 230, 1);
}

.profile__post__content__description__buttons__read span {
    cursor: pointer;
    fill: rgba(25, 25, 25, 1);
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    font-size: 13px;    
}

/*End Profile Page CSS*/